---
layout: default
---

<div class="post">

    <header class="post-header">
        <h2 class="post-title">{{ page.title }}</h2>
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% for project in site.data.projects %}

        {% for image in project.images %}
        <div class="col-lg-3 col-md-3 col-xs-10">
            <div class="thumb">
                <a class="thumbnail" href="{{ image.url }}" title="{{ image.text }}">
                    <img class="img-responsive" src="{{ project.imagefolder }}/{{ image.thumb }}">
                </a>
            </div>
        </div>
        {% endfor %}

    {% endfor %}
</div>
